<div class="question">{{question}}<br></div>
<form class="inputForm" action="/" method="POST">
    <input type="text" name="name" class="inputBox" placeholder="WHO'S THE NEW DAREDEVIL?"><br>
    <button type="submit" class="buttonShit">New Daredevil</button>
</form>
<div class="tatti">
    CURRENT DAREDEVIL IS
    <div class="daredevil">{{daredevil}}</div>
</div>