<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daredevil</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

</head>
<body>
    {{!-- <img src = "/static/images/CSIlogo.png" class="csivitLogo"> --}}
    <img src="/static/images/Header.png" class="header">

    <div class="box">
        <div class="question">{{question}}<br></div>
        <form class="inputForm" action="/" method="POST">
        <input type="text" name="name" class="inputBox" placeholder="ENTER NEW DAREDEVIL"><br>
        <button type="submit" class="buttonShit">New Daredevil</button>
        </form>
        <div class="tatti">
        CURRENT DAREDEVIL IS
        <div class="daredevil">{{daredevil}}</div>
        </div>
    </div>
</body>
</html>
