<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daredevil</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <link rel="stylesheet" type="css" href="/static/css/style.css
    "/>

</head>
<body>
    <img src = "/static/images/CSIlogo.png">
</body>
</html>
