@font-face {
    src: url("/static/fonts/Product\ Sans\ Regular.ttf");
    font-family: productsans;
}

@font-face{
    src: url("/static/fonts/Daredevil.ttf");
    font-family: Daredevil;
}

body {
    background: url("/static/images/source.gif") no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;

}

.csivitLogo{
    width: 300px;
}

.header {
    width: 100vw;
    height: 50vh;
    top: 0;
}

.box {
    z-index: 1;
    background-color: black;
    max-width: 60vw;
    height: 55vh;
    margin: 0 auto;
    border: 5px solid #BB0000;
    margin-top: -10vh;
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.question {
    padding-top: 30px;
    font-family: productsans;
}

.daredevil {
    padding-top: 40px;
    margin-top: -35px;
    font-family: Daredevil;
}
.inputBox{
    width: 80%;
    height: 60px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    color: white;
    border-color: black;
    padding-left: 20px;
}

.khalidiv{
    height: 10px;
}

.buttonShit {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(26, 26, 26);
    color: #BB0000;
    border: none;

    transition: 0.3s;

}

.buttonShit:hover{
    transform: scale(1.2);
    color:white;
    background-color: #BB0000;
}

.tatti {
    margin-top:-20px;
}
