@font-face {
    src: url("/static/fonts/Product\ Sans\ Regular.ttf");
    font-family: productsans;
}

@font-face {
    src: url("/static/fonts/Daredevil.ttf");
    font-family: Daredevil;
}

body {
    margin:0 auto;
    /* background: url("/static/images/source.gif") no-repeat; */
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;

}

.csivitLogo {
    margin-top:0;
    width: 300px;
    position: absolute;
    z-index: 10;
}

.header {
    width: 100vw;
    height: 50vh;
    top: 0;
}

.box {
    z-index: 1;
    border-radius: 10px;
    max-width: 60vw;
    height: 55vh;
    margin: 0 auto;
    border: 8px solid #BB0000;
    margin-top: -60vh;
    position: relative;
    color: rgba(255, 255, 255, 0.719);
    text-align: center;
    font-size: 1.2em;
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    padding-top: 30px;
    margin: 0 auto;
    width: 57.8vh;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: productsans;
    transition: 0.4s;
}

.question:hover {
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    transform: scale(1.7);
    color: white;
    background-color: #BB0000;
    padding-bottom: 10px;
    padding: 0 11.6vh;

}

.daredevil {
    padding-top: 40px;
    margin-top: -35px;
    font-family: Daredevil;
    font-size: 1.1em;
}

.inputBox {
    width: 80%;
    height: 60px;
    background-color: rgb(26,26,26) ;
    border-radius: 10px;
    color: #BB0000;
    border-color: black;
    padding-left: 20px;
    font-size: 1em;
}

.inputBox::placeholder {
    color: rgba(187, 0, 0, 0.472);
}

.khalidiv {
    height: 10px;
}

.buttonShit {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(26,26,26) ;
    color: #BB0000;
    border: none;
    font-size: 0.9em;
    transition: 0.3s;

}

.buttonShit:hover {
    transform: scale(1.2);
    color: white;
    background-color: #BB0000;
}

.tatti {
    padding-bottom: 30px;
    transition: 0.3s;
    font-size: 2em;
}

.tatti:hover {
    padding-top: 10px;
    transform: scale(1.7);
    color: white;
    background-color: #BB0000;
}

.demo{
    margin-top:-50vh;
    background-color: black;
}
